
    <div class="container">
        <div class="row">
            <div class="col">LoadPrices</div>
        </div>
        <div class="row">
            <div class="col"><button id="loadprices" class="btn btn-primary">On</button></div>
        </div>
</div>
