<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - invest</title>
    <link rel="preload" as="style" onload="this.rel='stylesheet'" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="preload" as="style" onload="this.rel='stylesheet'" href="~/css/font-awesome.min.css" />
    <link rel="preload" as="style" onload="this.rel='stylesheet'" href="~/css/site.css" />
</head>
<body>
    <header class="container-fluid">
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3 row">
            <div class="col mt-4">
    <div class="container">
        <div class="row">
            <div class="col c-center">
                @RenderBody()
            </div>
        </div>
    </div>
</div>
            
        </main>
    </div>
<footer class="border-top footer text-muted w-100 bottom-0">
    <div class="container">
        &copy; 2022 - invest - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
